/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
  margin: 20px;
  margin-top: 25px;
  margin-left: 50px;
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 20px;
  list-style: none;
  font-size: 24px;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 32px;
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
}

.hamburger-icon span:first-child,
.hamburger-icon span:last-child {
  transform: none;
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 160px;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  gap: 64px;
  height: 80%;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 640px;
}

/* Keyframe animation */
@keyframes morph {
  0% {
    transform: scale(1.25) rotate(0deg);
    background-color: red;
    border-radius: 36%;
  }
  25% {
    transform: scale(1.25) rotate(0deg);
    background-color: red;
    border-radius: 45%;
  }
  50% {
    transform: scale(1.25) rotate(0deg);
    background-color: yellow;
    border-radius: 54%;
  }
  75% {
    transform: scale(1.25) rotate(0deg);
    background-color: yellow;
    border-radius: 45%;
  }
  100% {
    transform: scale(1.25) rotate(0deg);
    background-color: green;
    border-radius: 36%;
  }
}

/* Apply animation to both webkit and standard animation properties */
@-webkit-keyframes morph {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 60%;
  }
  50% {
    transform: scale(1) rotate(0deg);
    border-radius: 50%;
  }
  100% {
    transform: scale(1) rotate(0deg);
    border-radius: 100%;
  }
}

.section__pic-container {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 600px;
  margin: 75px 0 0 25px;
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(/assets/profile-pic-2.png);
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}

.section__pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: inherit;
  image-orientation: from-image;
}

.section__pic-container-2 {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.section__pic-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  image-orientation: from-image;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 800;
}

.section__text__p1 {
  text-align: center;
  font-size: 16px;
}

.section__text__p1__about {
  text-align: center;
  font-size: 70px;
  margin: 115px auto 0 10px;
  color: black;
  font-weight: bold;
  padding-bottom: 75px;
}

.section__text__p1__explore {
  text-align: center;
  font-size: 16px;
  margin-top: 225px;
  justify-content: center;
}

.section__text__p1___contact {
  text-align: center;
  font-size: 70px;
  margin-top: 125px;
  color: black;
  font-weight: bold;
  padding-top: 275px;
  position: relative;
}

.section__text__p1_projects {
  font-size: 16px;
  margin-top: 175px;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}

.section__text__p2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.title {
  font-size: 80px;
  text-align: center;
}

.title-about {
  margin-top: 75px;
  margin-bottom: 60px;
  font-size: 80px;
  text-align: center;
}

.title_experience {
  font-size: 80px;
  text-align: center;
  margin-top: 25px;
}

.title_projects {
  font-size: 80px;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 35px;
  gap: 16px;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 32px;
}

/* BUTTONS */
.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 16px;
  width: 128px;
  border-radius: 32px;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  width: fit-content;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 16px;
}

/* ABOUT SECTION */
#about {
  position: relative;
  margin-bottom: 75px;
}

.about-containers {
  gap: 32px;
  margin-bottom: 32px;
  margin-top: 192px;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 32px;
  margin-top: 40px;
}

.arrow {
  position: absolute;
  right: -80px;
  bottom: 40px;
}

.details-container {
  padding: 24px;
  flex: 1;
  background: white;
  border-radius: 32px;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.text-container {
  margin-bottom: 85px;
}

/* EXPERIENCE SECTION */
#experience {
  position: relative;
  margin-top: 280px;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 96px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
}

article {
  display: flex;
  width: 160px;
  justify-content: space-around;
  gap: 8px;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
#projects {
  position: relative;
  margin-top: 225px;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.project-img {
  border-radius: 32px;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 16px;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

/* FOOTER SECTION */
/* Add this CSS for the Footer */

footer {
  background-color: #333; /* Choose a background color for the footer */
  color: #fff; /* Choose a text color for the footer */
  padding: 2px 0; /* Adjust the padding as needed */
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
  text-align: center;
}

.nav-links-container-footer {
  display: inline-block;
}

.nav-links-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links-footer li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links-footer a {
  text-decoration: none;
  color: #fff; /* Choose a color for the navigation links */
  font-weight: bold;
}

.nav-links-footer a:hover {
  border-bottom: 2px solid #fff; /* Add a bottom border on hover */
}

/* Add more styling if needed based on your design preferences */

/* Adjust the styling for the copyright text */
footer p {
  margin: 5px 0 0;
  font-size: 14px; /* Adjust the font size as needed */
  position: relative;
}
